@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis";
  src: url(fonts/metropolis/Metropolis-Regular.otf);
}

@font-face {
  font-family: "Merriweather";
  src: url(fonts/merriweather/Merriweather\ Light.ttf);
}

@font-face {
  font-family: "PT-Serif";
  src: url(fonts/PT_Serif/PTSerif-Regular.ttf);
}

html{
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}

body {
  font-family: "Metropolis", "sans-serif";
}

.highlight{
  background-image: linear-gradient(120deg, #f2bdb3 0%, #f2bdb3 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.highlight:hover {
  background-size: 100% 88%;
}